.buttons-container {
  height:100px;
  margin: auto auto;
  padding-bottom: 42px;
  position: relative;
  
}

.buttons img {
  height: 50px;
  width: 50px;
  padding: 4px 4px;
  position: relative;
  /*top: 5px;*/
  text-align: center;
  
}
.buttons {
  margin: 0;
  list-style: none;
  padding-top: 15px;
  text-align: center;
}

.buttons a { 
  color: Black;
  text-decoration: none;
  display: block;
  line-height: 40px;
  text-align: center;
}

.buttons>li {
  position: relative;
  left: 0.5px;
  float: left;
  width: 100px;
  text-align: center;
}

.buttons>li:hover {
  border-radius: 20%;
  background-color: #d9d9d9;
  transition: background-color 0.2s;
  text-align: center;
}

.buttons li:hover>ul {
  display: inline;
  height: auto;
  opacity: 1;
  font-family: 'DM Mono', monospace;
  text-align: center;
}
.dropdown-content {

  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.dropdown-content>li {
  position: relative;
  height: 40px;
  background-color: white;
  transition: background-color 0.2s;
}

.dropdown-content>li:hover {
  background-color: #d9d9d9;
  transition: background-color 0.2s;
}

.second-dropdown-content {
  position: absolute;
  top: 0;
  right: -120px;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity linear 0.15s;
}

.second-dropdown-content>li {
  height: 40px;
  background-color: white;
}

.second-dropdown-content>li:hover {
  background-color: #d9d9d9;
  transition: background-color 0.2s;
}

.show {
  display: block;
}
